.banner {
	background-position: center right;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 80vh;
	position: relative;

	.banner-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			0deg,
			#000000 0%,
			rgba(0, 0, 0, 0) 40%,
			rgba(0, 0, 0, 0) 60%,
			#000000 100%
		);
	}

	.container {
		position: relative;
		z-index: 1;

		.heading-wrapper {
			padding: 32px;
			border-radius: 11px;
			border: 1px solid rgba(255, 255, 255, 0.2);
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(6px) saturate(180%);
			-webkit-backdrop-filter: blur(6px) saturate(180%);
			background-image: linear-gradient(
				6deg,
				rgba(255, 255, 255, 0.1) 0%,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 0.05) 100%
			);
			box-shadow:
				0 8px 32px 0 rgba(0, 0, 0, 0.8),
				inset 0 0 0 1px rgba(255, 255, 255, 0.2);
		}
	}
}
